{% extends 'main/base.html' %}

{% block title %}{{academician.name}}{% endblock %}

{% block content %}

{% if user.is_authenticated %}

    <h3>{{academician.name}} <span class="badge bg-secondary">{{rating_avg.rating_avg}}/5</span> </h3>
   
    Lectures: &nbsp&nbsp
        {% for item in lectures %}
            <a style="color:blue; text-decoration: none " href="../lectures/{{item}}"  >
                {{item.name}} 
            </a> &nbsp&nbsp&nbsp
        {% endfor %}
        

    <hr>
     
    <h4>Comments</h4>

    {% for item in academician.comment_set.all %}

        <div class="card">
            <div class="card-header">
                {% for com in comment %}
                    {% if item.id == com.id %}
                        {{com.lecture}} [{{com.rating}}/5]<span style="float:right;">{{com.user.username}}</span>
                    {% endif %}
                {% endfor %}
            </div>
            <div class="card-body">
                <p>{{item.text}}</p> 
            </div>
            <div class="card-footer">
                {{item.created_at}}
            </div>
        </div>
        <br>    
    {% endfor %}

    <hr>
    <br>
    
    <h4>Comment</h4>
    <form action="" method="post">
        {% csrf_token %}
        <select class="form-select" aria-label="Default select example" name="lecture" id="id_lecture">
            <option selected>Choose a lecture</option>
                {% for item in academician.lecture_set.all %}
                <option value="{{item.id}}">{{item.name}}</option>
                {% endfor %}
        </select>
        <br>
        <select class="form-select" aria-label="Default select example" name="rating" id="id_rating">
            <option selected>Rate your experience</option>
            {{form.rating.1}}
            {{form.rating.2}}
            {{form.rating.3}}
            {{form.rating.4}}
            {{form.rating.5}}
        </select>
        <br>
        <textarea type="text" class="form-control" name="text" maxlength="10000" required id="id_text" cols="70" rows="8" placeholder="Comment here..."></textarea>
        <br>
        <button type="submit" name="newComment" value="newComment" class="btn btn-success">Comment</button>
    </form>

{% else %}
<a href="/login">Login</a> to see the content
{% endif %}

{% endblock %}